<table>

     <thead>
          <tr>
              <th>First name</th>
          </tr>
     </thead>
     
     <tbody>
          
             <%result.forEach(row=>{%>
                <tr>
                        <td><%=row.first_name%></td>
                </tr>              
             <%});%>  

     </tbody>


</table>